@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Create Remainder";
}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Create Remainder</h4>
            <h6 style="font-style:initial; font-weight:bolder;color:gray">Reminder For Remain Important </h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="row g-3" asp-action="Insert_Purchase_Invoice_Details" asp-controller="Invoice" onsubmit="return CheckData()" method="post">

                @*  <!-- Date -->
                <div class="col-12 col-md-3 mb-3">
                <div class="form-floating">
                <input type="date" class="form-control" id="datepicker" asp-for="PurchaseInvoiceDate">
                <label for="datepicker" class="text-truncate"><span style="color: black;">*</span> Select a Date</label>

                </div>
                </div>*@

                <!-- Date -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Remainder Date </label>
                        <input type="datetime-local" placeholder="DD-MM-YYYY" id="datepicker" class="form-control">
                    </div>
                </div>

                <!-- Invoice Type -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="selectoinvoice"><span style="color: red;">*</span> Remainder Type</label>
                        <select class="select" id="selectoinvoice" aria-label="selectoinvoice">
                            <option selected disabled>-- Select Remainder Type --</option>
                            <option value="Paid">Payment</option>
                            <option value="Pay Later">Stock Add</option>
                            <option value="Pay in Advance">Invoice Create</option>
                            <option value="Pay in Advance">Customer</option>
                        </select>

                       

                    </div>
                </div>





                <div class="row justify-content-center">
                    <div class="col-auto text-center mb-3" style="margin-top:20px;">
                        <button type="submit" class="btn btn-success me-2">
                            <i class="fas fa-bell"></i>
                            Create Remainder
                        </button>
                        <button type="reset" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Clear All
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>