@model Stock_Management_System.Areas.Invoices.Models.MutipleModel

@{
    ViewData["Title"] = "Preview Sale Invoice";
}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Preview Sale Invoice</h4>
            <h6>Preview Invoices</h6>
        </div>
        <div class="row">
            <div class="col">
                <div class="page-btn">
                    <a role="button" asp-action="Create_Sales_Invoice" asp-controller="Invoice" class="btn btn-added">
                        <img src="~/img/icons/plus.svg" alt="img" class="me-1">Create Invoice
                    </a>
                </div>
            </div>
            @if (Model != null)
            {
                <div class="col">
                    <div class="page-btn">
                        <a href="data:application/pdf;base64,@Convert.ToBase64String(Model.Pdf)"
                           download="@($"{Model.sales_Invoice?.PartyName?.Replace(" ", "_")}-{Model.sales_Invoice?.ProductName?.Replace(" ", "_")}-Invoice.pdf")"
                           class="btn btn-added" id="downloadInvoice" onclick="notifyDownloadStart()">
                            <img src="~/img/icons/pdf.svg" alt="img" class="me-1">Download Invoice
                        </a>
                    </div>
                </div>
            }
        
        </div>





    </div>

    <div class="card">
        <div class="card-body">
            <div id="pdf-viewer-container" class="d-flex justify-content-center align-items-center">
                <iframe id="pdf-viewer" src="data:application/pdf;base64,@Convert.ToBase64String(Model.Pdf)" width="900" height="900"></iframe>
            </div>
        </div>
    </div>
</div>


<script src="/js/Section/invoice/s/preview.js"></script>
