@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Change Password";
}
@model Stock_Management_System.Areas.Manage.Models.ResetPasswordViewModel;
<div class="account-content">
    <div class="login-wrapper">


        <div class="login-content  shadow p-3 mb-5 bg-body rounded" style="max-width: 600px; margin: auto;">
            <div class="login-userset">
                <div class="login-logo">
                    <img src="~/img/LOGO_MAIN.png" style="width:auto" alt="img">
                </div>
                <div class="login-userheading">
                    <h3>Update Password</h3>
                    <h4>Update Your Account Password</h4>
                </div>
                <div class="login-userheading">
                    <form id="resetPasswordForm">
                    <div class="form-login">
                        <input asp-for="Email" type="hidden" />
                        <input asp-for="Token" type="hidden" />
                        <label><span style="color:red;">*</span> New Password</label>
                        <div class="pass-group">
                            <input type="password" asp-for="Password" class="pass-input" placeholder="Enter New password">
                            <span class="fas toggle-password fa-eye-slash"></span>

                        </div>
                        
                    </div>

                    <div class="form-login">
                        <label><span style="color:red;">*</span> Confirm Password</label>
                        <div class="pass-group">
                            <input type="password" asp-for="ConfirmPassword" class="pass-input"  placeholder="Enter New Confirm password">
                            <span class="fas toggle-password fa-eye-slash"></span>

                        </div>
                      
                    </div>
                    <div class="form-login">
                        <button type="submit" class="btn btn-login">Change Password</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>






<!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Load SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- Load Toastr -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<!-- Your custom script -->
<script src="/js/bundle/auth/change.js"></script>
