@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Login Page";
}

@model Stock_Management_System.Areas.Manage.Models.Auth_Model;

<div class="account-content">
    <div class="login-wrapper">


        <div class="login-content shadow p-3 mb-5 bg-body rounded" style="max-width: 600px; margin: auto;">
            <div class="login-userset">
                <div class="login-logo">
                    <img src="~/img/LOGO_MAIN.png" style="width:auto" alt="img">
                </div>
                <div class="login-userheading">
                    <h3>Login</h3>
                    <h4>Login to your System</h4>
                </div> 
                <form id="loginForm" asp-action="Login" asp-controller="Auth" onsubmit="return CheckData()">
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Username</label>
                        <div class="form-addons">
                            <input type="text" asp-for="Username" name="Username" placeholder="Enter Username">
                            <img src="~/img/icons/users1.svg" alt="img">
                            <span style="color:red;" asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Password</label>
                        <div class="pass-group">
                            <input type="password" class="pass-input" asp-for="Password" name="Password" placeholder="Enter your password">
                            <span class="fas toggle-password fa-eye-slash"></span>

                        </div>
                        <span style="color:red;" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-login">
                        <div class="alreadyuser">
                            <h4><a asp-action="ResetPassword" asp-controller="Auth" class="hover-a">Forgot Password?</a></h4>
                        </div>
                    </div>
                    <div class="form-login">
                        <button id="loginButton" type="submit" class="btn btn-login">Login</button>
                    </div>
                </form>


            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Toastr CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

        <!-- Toastr JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



        <script src="/js/bundle/auth/login.js"></script>
    