@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Reset Password";
}

<div class="account-content">
    <div class="login-wrapper">
        <div class="login-content shadow p-3 mb-5 bg-body rounded" style="max-width: 600px; margin: auto;">
            <div class="login-userset">
                <div class="login-logo">
                    <img src="~/img/LOGO_MAIN.png" alt="Logo Image">
                </div>
                <div class="login-userheading">
                    <h3>Reset Password</h3>
                    <h4>Reset Your Account Password</h4>
                </div>
                <form id="resetPasswordForm">
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Email</label>
                        <div class="form-addons">
                            <input type="email" id="email" name="email" placeholder="Enter Registered Email Address" required>
                            <img src="~/img/icons/users1.svg" alt="Email Icon">
                        </div>
                    </div>
                    <div class="form-login">
                        <div class="alreadyuser">
                            <h4><a asp-action="Login" asp-controller="Auth" class="hover-a">Login Here</a></h4>
                        </div>
                    </div>
                
                    <div class="form-login">
                        <button type="button" class="btn btn-login" onclick="requestPasswordReset()">Reset Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/js/bundle/auth/reset.js"></script>