@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Reset Password";
}
<div class="account-content">
    <div class="login-wrapper">


        <div class="login-content">
            <div class="login-userset">
                <div class="login-userheading">
                    <h3>Reset Password</h3>
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Email</label>
                        <div class="form-addons">
                            <input type="email" placeholder="Enter Registerd Email Address">
                            <img src="~/img/icons/users1.svg" alt="img">
                            <span style="color:red;"></span>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-img">
            <img src="~/img/login.jpg" alt="img">
        </div>
    </div>
</div>