@{
    Layout = "_Layout_Login";
    ViewData["Title"] = "Login Page";
}

@model Stock_Management_System.Areas.Manage.Models.Auth_Model;

<div class="account-content">
    <div class="login-wrapper">
        @*  <div class="login-img">
        <img src="~/img/LOGIN_BACKGROUND.jpeg" alt="img">
        </div> *@

        <div class="login-content  shadow p-3 mb-5 bg-body rounded" style="max-width: 600px; margin: auto;">
            <div class="login-userset">
                @if (TempData["ErrorMsg"] != null)
                {
                    <input type="hidden" id="toastrErrorMessage" value="@TempData["ErrorMsg"]" />
                }
                <div class="login-logo">
                    <img src="~/img/LOGO_MAIN.png" style="width:auto" alt="img">
                </div>
                <div class="login-userheading">
                    <h3>Login</h3>
                    <h4>Login to your System</h4>
                </div>
                <form asp-action="Login" asp-controller="Login">
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Username</label>
                        <div class="form-addons">
                            <input type="text" asp-for="Username" placeholder="Enter Username">
                            <img src="~/img/icons/users1.svg" alt="img">
                            <span style="color:red;" asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="form-login">
                        <label><span style="color:red;">*</span> Password</label>
                        <div class="pass-group">
                            <input type="password" class="pass-input" asp-for="Password" placeholder="Enter your password">
                            <span class="fas toggle-password fa-eye-slash"></span>

                        </div>
                        <span style="color:red;" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-login">
                        <div class="alreadyuser">
                            <h4><a asp-action="Forget_Password" asp-controller="Login" class="hover-a">Forgot Password?</a></h4>
                        </div>
                    </div>
                    <div class="form-login">
                        <button type="submit" class="btn btn-login">Login</button>
                    </div>
                </form>
                <div class="form-setlogin text-center mt-4">
                    <h4>Other</h4>
                </div>
                <div class="form-sociallink text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">
                                <img src="~/img/icons/google.png" class="me-2" alt="google">
                                Login using Google
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var errorMessage = document.getElementById('toastrErrorMessage').value;

                if (errorMessage) {
                    toastr.error(errorMessage, "User Not Found", {
                        closeButton: true,
                        progressBar: true,
                        positionClass: 'toast-bottom-right',
                        preventDuplicates: true,
                        showDuration: '300',
                        hideDuration: '1000',
                        timeOut: '5000',
                        extendedTimeOut: '1000',
                        showEasing: 'swing',
                        hideEasing: 'linear',
                        showMethod: 'fadeIn',
                        hideMethod: 'fadeOut'
                    });
                }
            });


            function submitForm() {
                // Perform form submission using JavaScript
                var form = document.getElementById("loginForm");

                // Check if the form is valid
                if (form.checkValidity()) {
                    // Simulate form submission
                    // Replace this with your actual form submission logic
                    // For example, you can use AJAX to submit the form data to the server
                    toastr.success('Form submitted successfully!', 'Success');
                } else {
                    // Display Toastr messages for validation errors
                    toastr.error('Please correct the form errors before submitting.', 'Error');
                }
            }


        </script>
