@model Stock_Management_System.Areas.Accounts.Models.Customer_Model;
@{
    ViewData["Title"] = "Update Customer";
}


<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Update Customer</h4>
            <h6 style="font-style:initial; font-weight:bolder;color:gray">Existing Customer Update</h6>
        </div>
    </div>

    <div class="card">
        <div class="card-body">


            <form class="row g-3" id="CustomerForm" onsubmit="return CheckData()" method="post">

                <!-- Customer Name -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="CustomerName"><span style="color: red;">*</span> Customer Name</label>
                        <input type="text" class="form-control" placeholder="Customer Name" id="CustomerName" asp-for="CustomerName" oninput="this.value = this.value.toUpperCase()">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="CustomerName"></span>
                        <span id="newCustomerMessage" style="color:red">* Exist Customer</span>
                    </div>
                </div>

                <input type="hidden" value="@Model.CustomerId" name="CustomerId" />

                <!-- Customer Type -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="CustomerType"><span style="color: red;">*</span> Customer Type</label>
                        <select id="CustomerType" class="select form-control" asp-for="CustomerType">
                            <option value="" selected>-- Select Type --</option>
                            <option value="BUYER">BUYER</option>
                            <option value="SELLER">SELLER</option>
                        </select>
                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="CustomerType"></span>
                    </div>
                </div>

                <!-- Customer City -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="CustomerCity"><span style="color: red;">*</span> Customer City</label>
                        <input type="text" class="form-control" placeholder="City Name" id="CustomerCity" asp-for="CustomerAddress" oninput="this.value = this.value.toUpperCase()">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="CustomerAddress"></span>
                    </div>
                </div>

                <!-- Customer Contact_No -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Customer No</label>
                        <input type="number" inputmode="numeric" class="form-control" placeholder="Contact No." asp-for="CustomerContact" id="CustomerContact">

                        <span class="text-danger" style="color: red; font-size:11px; font-weight:bold;" asp-validation-for="CustomerContact"></span>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col-auto text-center mb-3" style="margin-top:20px;">
                        <button type="submit" class="btn btn-success me-2">
                            <i class="fas fa-user-plus"></i>
                            Update Customer
                        </button>
                      
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>





@section Scripts {
    <script src="/js/bundle/customer/edit-bundle.js"></script>
}

